:root {
    --primary-color: #0f7d9e;
    --darker: #084e63;
}

* {
    box-sizing: border-box;
    outline: 0;
}
body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
h2 {
    font-size: 1em;
}
.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color) 
}

form button {
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 400; 
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--darker);
}

.container .info {
    display: grid;
    font-size: 1em;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.container .info p {
    margin: 10px auto;
}

.correct {
    background: #00e7c8;
    padding: 5px 5px;
}

.bad {
    background: rgb(238, 79, 79);
    padding: 5px 5px;
}
